<?xml version="1.0"?>
<launch>

	<arg name="path_save"   default="/home/nbfigueroa/Desktop/alp_recordings/new_scooping_glove_data/"/>
	<arg name="topic"  	default="/tool/ft_sensor/netft_data /Human_Wrist/pose /Left_Wrist/pose /Vision_Frame/pose /LasaDataStream"/>
	<arg name="file_name"  	default="demo_x"/>

    <include file="$(find record_ros)/launch/record_ros.launch">
	<arg name="path_save"   value="$(arg path_save)"/>
	<arg name="topic"  	value="$(arg topic)"/>
	<arg name="file_name"  	value="$(arg file_name)"/>
    </include>

</launch>

